footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $navy;
  color: $gold;
  text-align: center;
  border-top: 2px solid $gold;
  padding: 10px;
  font-size: small;
  margin: 0;
}