.page-wrapper {
  margin: 20px 20vw;
  animation-name: fadeInDown;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } 
  .login-prompt {
    display: flex;
    align-items: baseline;
    h4 {
      margin-right: 20px;
    }
    .btn {
      background-color: $navy;
      color: $gold;
      border-color: $gold;
      &:hover {
        transform: scale(105%);
      }
    }
  }
  .list {
    .div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 20px;
      h2 {
        &:hover{
          text-decoration: underline;
        }
      }
      a {
        color: black;
        text-decoration: none;
      }
      img {
        width: 200px;
        margin-right: 20px;
        border-radius: 10px;
        &:hover{
          transform: scale(101%);
          filter: brightness(85%);
        }
      }
    }
  }
}
