.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10vw;
  .game-card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 300px;
    }
    .game-description {
      margin-left: 20px;
    }
  }
  .game-card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
    // align-items: center;
  }
}
